.nav-countries {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  width: 100%;
  color: hsl(209, 23%, 22%);
  font-weight: 800;
  font-size: 1.125rem;
  box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 44%);
  z-index: 1000px;


  .darkmode-countries {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }



  .darky-text {
    font-weight: 600;
  }

}

header {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  height: auto;
  padding: 40px 80px 240px;

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

section {
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 40px;
  padding-top: 40px;

  article {
    border-radius: 6px;
    box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 44%);

    .flag-country {
      width: 100%;
      height: 170px;
      background-color: red;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
      }
    }

    .country-description {
      padding: 20px;
      background-color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      h2 {
        font-weight: 800;
        padding-bottom: 15px;
      }
      .country-title {
        font-weight: 600;
        line-height: 1.9;
      }
    }

  }
}