.header-container {
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  height: 100%;
  padding: 40px 80px 280px;
  position: relative;

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

section {
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 40px;
  padding-top: 40px;

  a {
    text-decoration: none;
    color: #000;
  }

  article {
    border-radius: 6px;
    box-shadow: 1px 1px 5px -1px rgb(0 0 0 / 44%);
    cursor: pointer;

    .flag-country {
      width: 100%;
      height: 170px;
      background-color: red;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom: solid 1px rgb(1, 77, 87);

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

      }
    }

    .country-description {
      padding: 20px;
      background-color: #fff;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      h2 {
        font-weight: 800;
        padding-bottom: 15px;
      }
      .country-title {
        font-weight: 600;
        line-height: 1.9;
      }
    }

  }
}

.loading {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}